<div class="container content">
  <h1 class="my-3">Atendimentos</h1>
  <hr>
  <div class="info-cards">
    <div class="mx-3">
      <h3>Consultórios</h3>
      <p>Rua Maj. Costa, 221 - Centro, Florianópolis - Brasil</p>
      <p>Telefone: +554832296500</p>
      <p>#TODO - Dias de atendimento e horários</p>

      <a href="https://wa.me/1XXXXXXXXXX" class="btn btn-secondary my-3">Agende comigo!</a>
    </div>

    <div class="last-card">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4233.526872292588!2d-48.54503970568242!3d-27.59519716021691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x952738398fbb3f01%3A0x653fc826e401c3d3!2sHospital%20Cmt.%20Lara%20Ribas!5e0!3m2!1spt-PT!2spt!4v1687685279270!5m2!1spt-PT!2spt"
              id="card-map"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>



  </div>
</div>
