<div class="banner shadow">
</div>

<%# ----------------------- HOMEPAGE WITH TEXT -----------------------  %>
<div class="container info-cards">

  <%# QUEM SOU EU %>
  <div class="info-card m-auto">
    <h1 class="text-center">Quem sou eu</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aperiam laborum natus culpa ipsam unde modi molestiae doloribus, cum dolores exercitationem magni molestias doloremque reiciendis nulla? Numquam aspernatur sed consequuntur.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aperiam laborum natus culpa ipsam unde modi molestiae doloribus, cum dolores exercitationem magni molestias doloremque reiciendis nulla? Numquam aspernatur sed consequuntur.
    </p>
  </div>

  <div class="card-category m-auto" style="background-image: url('assets/quem_sou_eu.png')">
  </div>

  <hr>
  <div></div>


  <%# SERVIÇOS %>
  <div class="card-category m-auto" style="background-image: url('assets/clinic.png')">
  </div>

  <div class="info-card m-auto">
    <h1 class="text-center">Serviços</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aperiam laborum natus culpa ipsam unde modi molestiae doloribus, cum dolores exercitationem magni molestias doloremque reiciendis nulla? Numquam aspernatur sed consequuntur.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aperiam laborum natus culpa ipsam unde modi molestiae doloribus, cum dolores exercitationem magni molestias doloremque reiciendis nulla? Numquam aspernatur sed consequuntur.
    </p>
  </div>

  <div></div>
  <hr>
  <%# PERGUNTAS FREQUENTES %>
  <div class="info-card m-auto">
    <h1 class="text-center">Perguntas frequentes</h1>
    <h4 class="my-1">Pergunta 1</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aperiam laborum natus culpa ipsam unde modi molestiae doloribus, cum dolores exercitationem magni molestias doloremque reiciendis nulla? Numquam aspernatur sed consequuntur.
    </p>
    <h4 class="my-1">Pergunta 2</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aperiam laborum natus culpa ipsam unde modi molestiae doloribus, cum dolores exercitationem magni molestias doloremque reiciendis nulla? Numquam aspernatur sed consequuntur.
    </p>
     <h4 class="my-1">Pergunta 3</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aperiam laborum natus culpa ipsam unde modi molestiae doloribus, cum dolores exercitationem magni molestias doloremque reiciendis nulla? Numquam aspernatur sed consequuntur.
    </p>
  </div>

  <div class="card-category m-auto" style="background-image: url('assets/faq_lady.png')">
  </div>

</div>
