<div class="banner shadow" style="background-image: url('<%= image_url("mulher_pilates.png") %>')">
</div>

<div class="container content">
  <h1 class="my-3">Saúde da Mulher</h1>
  <hr>
  <h3>Sinais de que a mulher precisa de uma avaliação</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam modi, excepturi animi ipsum debitis facere dolores cumque, earum, impedit ullam recusandae inventore sed. Magnam eos voluptatem dolores illo, sed quaerat?</p>
  <h3>Tratamentos</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet maxime veniam esse corporis non rerum culpa, consequatur repellat nemo assumenda omnis iure harum quibusdam dolor necessitatibus eaque, qui quasi veritatis.</p>

  <h5>Ainda tem dúvidas?</h5>
   <a href="https://wa.me/1XXXXXXXXXX" class="btn btn-secondary my-3">Fale comigo!</a>
</div>
