.banner {
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner-saude {
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}


@media(max-width: 480px) {
  .banner {
    height: 25vh;
  }
}
